# backend
backend/.venv/
backend/__pycache__/
backend/app/__pycache__/
backend/.env
backend/demo_videos/
*.pt
*.pyc

# frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# vercel
.vercel/
.env.vercel-check
.env.vercel*
.env.local
